<nav class="HorzMenu">
    {{ attr }}
    <ul class="">
        <li class="nav-item sq nav_card">
            <a class="nav-link sq--inner " routerLink="/tab/batman" routerLinkActive="active">
                <figure>
                        <img src="assets/batman.png" alt="batman">
                </figure>
                <label>Batman</label>
            </a>
        </li>
        <li class="nav-item sq nav_card">
            <a class="nav-link sq--inner" routerLink="/tab/robin" routerLinkActive="active">
                <figure>
                        <img src="assets/robin.png" class="robin" alt="robin">
                </figure>
                <label>Robin</label>
            </a>
        </li>
        <li class="nav-item sq nav_card">
            <!-- //attr -->
            <a class="nav-link sq--inner" routerLink="/tab/green_lantern" routerLinkActive="active">
                <figure>
                        <img src="assets/green_lantern.png" alt="green_lantern">
                </figure>
                <label>Green Lantern</label>
            </a>
        </li>
        <li class="nav-item sq nav_card">
                <a class="nav-link sq--inner" routerLink="/tab/superman" routerLinkActive="active">
                    <figure>
                            <img src="assets/superman.png" alt="superman">
                    </figure>
                    <label>Superman</label>
                </a>
            </li>
    </ul>
    <div class="clearfix"></div>
</nav>

